<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jonathangalvan.mirelex">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_mirelex"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PaymentCardsActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ConversationsActivity">
        </activity>
        <activity android:name=".ChatActivity">
        </activity>
        <activity android:name=".ProductActivity">
        </activity>
        <activity
                android:name=".StoreTabsActivity"
                android:label="">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity android:name=".ContactActivity">
        </activity>
        <activity android:name=".WebviewActivity">
        </activity>
        <activity android:name=".StoreDetailShortActivity">
        </activity>
        <activity android:name=".ServiceOrderDetailActivity">
        </activity>
        <activity android:name=".ServiceCreateActivity">
        </activity>
        <activity android:name=".OrderDetailActivity">
        </activity>
        <activity android:name=".OrderCheckoutActivity">
        </activity>
        <activity android:name=".CalendarActivity">
        </activity>
        <activity android:name=".StoreDetailActivity">
        </activity>
        <activity android:name=".ProductDetailActivity">
        </activity>
        <activity android:name=".RegisterExtraFieldsActivity">
        </activity>
        <activity
                android:name=".CustomerTabsActivity"
                android:label="">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>