<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.jonathangalvan.mirelex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_mirelex"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:requestLegacyExternalStorage="true" >
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".WhishlistActivity"></activity>
        <activity android:name=".ProfileProductsActivity" />
        <activity android:name=".FilterProducts" />

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".PaymentCardCreateActivity" />
        <activity android:name=".PaymentCardsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConversationsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ProductActivity" />
        <activity
                android:name=".StoreTabsActivity"
                android:label="" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".WebviewActivity" />
        <activity android:name=".StoreDetailShortActivity" />
        <activity android:name=".ServiceOrderDetailActivity" />
        <activity android:name=".ServiceCreateActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".OrderCheckoutActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".StoreDetailActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".RegisterExtraFieldsActivity" />
        <activity
                android:name=".CustomerTabsActivity"
                android:label="" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>